@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: 'Josefin Sans', sans-serif;
    }
    body{
       background: #f3f3f3; 
    }
    .wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        display: flex;
        box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    }
    .wrapper .left{
        width: 35%;
        background: linear-gradient(to right,#01a9ac, #01dbdf);
        padding: 30px 25px;
        border-top-left-radius: 5px;
        text-emphasis: center;
        color: #fff;
    }
    .wrapper .left img{
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .wrapper .left h4{
        margin-bottom: 10px;
    }
    .wrapper .left p{
        font-size: 12px;
    }
    .wrapper .right{
        width: 65%;
        background: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 30px 25px;
    }
    .wrapper .right .info,
    .wrapper .right .projects{
        margin-bottom: 25px;  
    }
    .wrapper .right .info h3,
    .wrapper .right .projects h3{
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e0e0e0;
        columns: #353c4e;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .wrapper .right .info-data,
    .wrapper .right .projects-data{
        display: flex;
        justify-content: space-between;
    }
    .wrapper .right .info-data .data,
    .wrapper .right .projects-data .data{
        width: 45%;
    }
    .wrapper .right .info-data .data h4,
    .wrapper .right .projects-data .data h4{
       color: #353c4e; 
       margin-bottom: 5px ;
    }
    .wrapper .right .info-data .data p,
    .wrapper .right .projects-data .data p{
       font-size: 10px;
       margin-bottom: 10px;
       color: black;
    }